appdirs==1.4.4
attrs==21.2.0
Babel==2.8.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.4
bottle==0.12.19
Bottleneck==1.5.0
Brotli==1.0.9
certifi==2020.6.20
chardet==4.0.0
command-not-found==0.3
contourpy==1.3.2
crcmod==1.7
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
et-xmlfile==1.0.1
extras==1.0.0
filelock==3.6.0
fixtures==3.0.0
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
gitdb==4.0.9
GitPython==3.1.24
Glances==3.2.4.2
gprof2dot==2024.6.6
gyp==0.1
html5lib==1.1
httplib2==0.20.2
idna==3.3
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib-metadata==4.6.4
influxdb==5.3.1
iniconfig==1.1.1
jdcal==1.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.5.1
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llvmlite==0.38.0
lxml==4.8.0
lz4==3.1.3+dfsg
MarkupSafe==2.0.1
matplotlib==3.8.4
more-itertools==8.10.0
moviepy==2.2.1
mpmath==0.0.0
msgpack==1.0.3
narwhals==1.42.1
netifaces==0.11.0
numba==0.55.1
numexpr==2.11.0
numpy==1.24.3
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
openpyxl==3.0.9
packaging==21.3
pandas==1.5.3
patsy==1.0.1
pbr==5.8.0
pexpect==4.8.0
pillow==10.4.0
platformdirs==2.5.1
plotly==6.1.2
pluggy==0.13.0
ply==3.11
podman-compose==1.2.0
proglog==0.1.10
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pycryptodomex==3.11.0
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pykerberos==1.1.14
pyparsing==2.4.7
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-subunit==1.4.0
pythran==0.10.0
pytz==2025.2
PyYAML==5.4.1
repo==2
requests==2.25.1
saneyaml==0.3
scikit-learn==1.7.0
scipy==1.8.0
scour==0.38.2
seaborn==0.12.2
SecretStorage==3.3.1
six==1.17.0
smmap==5.0.0
soupsieve==2.3.1
statsmodels==0.14.4
stevedore==3.5.0
sympy==1.9
tables==3.7.0
testtools==2.5.0
threadpoolctl==3.6.0
toml==0.10.2
tqdm==4.67.1
tzdata==2025.2
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.2.3
xlwt==1.3.0
zipp==1.0.0
